@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
Pequenas Telas: até 600px
Celular: de 600px até 600px 
Tablet: 768px a 922px
Desktop: 922px até 1200px
Grandes telas: acima de 1200px
*/

@media print {

}

@media screen and (max-width: 600px) {

}

@media screen and (min-width: 600px) and (max-width: 768px) {

}